body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width:400px;
}
input{
    width:100%; 
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:10px;
    border:1px solid green;
    box-sizing: border-box;
}
button{
    padding:10px 20px;
    box-sizing: border-box;
    border:none;
    color: white;
    margin-top:4px;
    font-weight:bold;
    background-color: green;
}
